# Ensure the entire terminal is used. This particular code comes from
#  https://gist.github.com/scentoni/f4bda3a07cf7711125de3928f95809af

res() {

  old=$(stty -g)
  stty raw -echo min 0 time 5

  printf '\033[18t' > /dev/tty
  IFS=';t' read -r _ rows cols _ < /dev/tty

  stty "$old"

  stty cols "$cols" rows "$rows"
}

res
